@font-face { 
    font-family: 'Lemon Days'; 
    font-style: black; 
    font-weight: 800; 
    src: url("../fonts/Lemon Days.ttf") format('truetype'); 
} 


section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}