@font-face { 
    font-family: 'Lemon Days'; 
    font-style: black; 
    font-weight: 800; 
    src: url("../fonts/Lemon Days.ttf") format('truetype'); 
} 


section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

body,
html {
    height: 100%
}

canvas {
    display: block;
    vertical-align: bottom;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2c3e50
  }


h1 {
    color: #FFF;
    font-family: "Lemon Days";
    border-right: #FFF .15em solid;
    white-space: nowrap;
    margin: 0, auto;
    letter-spacing: .15em;

}